//!= exportPaths("jsPaths")
//- var mainJsPath = jsUrl("/js/main.js")

link(rel="stylesheet", href="/b/bootstrap/dist/css/bootstrap.css")
script(src="/b/jquery/dist/jquery.min.js")
!= css("common")
//!= js("life")
script(src="/bundle.js")