nav.navbar.navbar-default.navbar-fixed-top
   .container-fluid
      .navbar-header
         // ?
      a.navbar-brand(href="#")
         span.page Thug Life
      ul.nav.navbar-nav
         li
            a(href="/user/browse/1") Life
         li
            a(href="/user/browse/1") Highlife
         li
            a(href="/user/browse/1") Otherlife1
         li
            a(href="/user/browse/1") Otherlife2
      form.navbar-form.navbar-right
         .btn-group
            a.btn.btn-default.pause
               span.glyphicon.glyphicon-pause
            a.btn.btn-default.clear-board
               span.glyphicon.glyphicon-certificate