nav.navbar.navbar-default.navbar-fixed-top
   .container-fluid
      .navbar-header
         // ?
      a.navbar-brand(href="#")
         span.page GoL
      form.navbar-form.navbar-left
         .btn-group
            a.btn.btn-default.pause.glyphicon.glyphicon-pause
               //span.glyphicon.glyphicon-pause
            a.btn.btn-default.clear-board.glyphicon.glyphicon-certificate
               //span.glyphicon.glyphicon-certificate
      ul.nav.navbar-nav.navbar-right
         li
            a(href="/user/browse/1") Life
         li
            a(href="/user/browse/1") Highlife
         li
            a(href="/user/browse/1") Otherlife1
         li
            a(href="/user/browse/1") Otherlife2
